body, html {
    background-color: #000000;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Workbench', sans-serif;
    }
    
@font-face {
    font-family: 'Workbench';
    src: url('/fonts/Workbench-Regular.ttf') format('truetype');

    font-family: 'Readable';
    src: url('/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
}
p {
    font-family: 'Readable', sans-serif;
    font-size: 12px; /* Default font size */
}

.side-nav {
    position: fixed; /* Fixed position */
    border-radius: 15px; /* Adjust this value to increase or decrease the roundness */
    top: 20%; /* Center vertically */
    left: 0; /* Place it on the left side */
    transform: translateY(-50%); /* Adjust vertical position */
    background-color: rgb(29, 11, 132, 0.7); /* Background color */
    border: 1px solid #020101; /* Border (optional) */
    padding: 10px;
    z-index: 1000; /* Ensure it's above other content */
}

.side-nav ul {
    padding: 0;
} 

.side-nav ul li a {
    display: block;
    padding: 0px;
    margin: 0;
    text-decoration: none; /* Remove underline from links */
    list-style: none; /* Remove default list styling */
    color: #33b70c; /* Text color */
}

.side-nav ul li a:hover {
    background-color: #dc1616; /* Hover effect */
}

.full-screen {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff; /* Change as needed */
}

.split-screen {
    display: flex;
    height: 100vh;
}

.split {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* Change as needed */
}

.content {
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .split {
        width: 100%;
        height: 50%;
    }
}
.logo {
    max-width: 7%; /* Adjust the size as needed */
    height: auto; /* Keeps the aspect ratio of the image */
}
.personal_robotics {
    max-width: 70%; 
    height: auto; 
}
.face {
    width: 90%; /* Adjust the size as needed */
    height: auto; /* Keeps the aspect ratio of the image */
 /*   max-height: 80%;
 /*   display: block; /* removes any default inline spacing */
}
table {
    width: 80%;
    max-height: 10%;
    border-collapse: collapse;
}
.table-red {
    background-color: rgba(127, 5, 5, 0.55); /* Red semi-transparent background */
}

.table-green {
    background-color: rgba(5, 26, 5, 0.816); /* Green semi-transparent background */
}

.table-blue {
    background-color: rgba(1, 1, 37, 0.716); /* Blue semi-transparent background */
}
.table-yellow {
    background-color: rgba(26, 42, 3, 0.716);
}
th, td {
    padding: 0px;
    text-align: left;
    border-bottom: 1px solid #000000;
}

thead {
    background-color: #3002a6a0;
}

.table-container {
    display: flex;
    flex-wrap: wrap; /* This allows the items to wrap onto the next line */
    justify-content: 2%; /* Adjusts the space between the tables */
    background-color: rgba(1, 1, 37, 0.716); 
}

.responsive-table {
    flex: 1; /* This allows the tables to grow and fill the container */
    margin: 0%; /* Optional: Adds some space around each table */
}

/* Media query for smaller screens - adjust 'max-width' as needed */
@media screen and (max-width: 600px) {
    .responsive-table {
        flex-basis: 100%; /* On small screens, take up full container width */
    }
}
